@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #151d23;
}

::-webkit-scrollbar-thumb {
  background: #dde1e4;
  border-radius: 100vh;
  border: 3px solid bg-base-neutral;
}

::-webkit-scrollbar-thumb:hover {
  background: #dde1e4;
}

@layer base {
  input {
    @apply w-full bg-base-100 border-0 focus:ring-0 rounded-lg
  }

  button {
    @apply p-2 bg-neutral text-gray-200 rounded-lg
  }
}